# Contract for Difference Contracts

<br>

### Imports

In [11]:
import pandas as pd
import numpy as np

In [2]:
cfd_mapping_fp = 'https://www.lowcarboncontracts.uk/data-portal/dataset/10c5ea46-8b0b-497e-ae7f-5ba1c5df8ffe/resource/ab9eafe1-911f-47b7-9f60-bfffa9d87e5a/download/cfd-to-bm-unit-mapping.csv'

df_cfd = pd.read_csv(cfd_mapping_fp)

df_cfd.head()

        CFD_Id       BMU_Id Effective_From Effective_date_to
0  AAA-ACH-183  C__PSMAR001     2018-06-16               NaN
1  AAA-BAD-185    T_BDCHW-1     2018-12-01               NaN
2  AAA-BAN-189    T_KPMRW-1     2018-10-12               NaN
3  AAA-BAN-190  C__FMAGN003     2018-01-02               NaN
4  AAA-BAN-192  C__NMAGN007     2018-11-19               NaN

In [6]:
sett_to_cfd_id = df_cfd.set_index('BMU_Id')['CFD_Id'].to_dict()

len(sett_to_cfd_id)

56

In [3]:
powerdict_fp = 'C:/Users/Ayrto/Desktop/Side Projects/Power-Station-Dictionary/data/dictionary/ids.csv'

df_powerdict = pd.read_csv(powerdict_fp)

df_powerdict.head(3)

,osuked_id,gppd_idnr,esail_id,name,sett_bmu_id,ngc_bmu_id,4c_offshore_id,windpowernet_id,wikidata_id,wikipedia_id,power_technology_id,eutl_id
0,10000,NaN,MARK,Rothes Bio-Plant CHP,"E_MARK-1, E_MARK-2","MARK-1, MARK-2",NaN,NaN,NaN,NaN,NaN,NaN
1,10001,"GBR1000377, GBR1000369",DIDC,Didcot,"T_DIDC1, T_DIDC2, T_DIDC4, T_DIDC3, T_DIDC1G, ...","DIDC1, DIDC2, DIDC4, DIDC3, DIDC1G, DIDC2G, DI...",NaN,NaN,NaN,NaN,NaN,97165
2,10002,"GBR1000374, GBR1000375",ABTH,Aberthaw B,"T_ABTH7, T_ABTH8, T_ABTH9, T_ABTH7G, T_ABTH8G,...","ABTH7, ABTH8, ABTH9, ABTH7G, ABTH8G, ABTH9G",NaN,NaN,NaN,NaN,NaN,97175

In [34]:
#exports
def add_cfds(df_powerdict, sett_to_cfd_id):
    matched_sett = []
    df_powerdict['cfd_id'] = ''
    
    for idx, sett_bmu_ids in df_powerdict['sett_bmu_id'].dropna().items():
        sett_bmu_ids = sett_bmu_ids.split(', ')
        site_cfd_ids = []

        for sett_bmu_id in sett_bmu_ids:
            if sett_bmu_id in sett_to_cfd_id.keys():
                matched_sett += [sett_bmu_id]
                site_cfd_ids += [sett_to_cfd_id[sett_bmu_id]]

        df_powerdict.loc[idx, 'cfd_id'] = ', '.join(sorted(list(set(site_cfd_ids))))
        
    missing_sett = sorted(list(set(sett_to_cfd_id.keys()) - set(matched_sett)))
    df_powerdict['cfd_id'] = df_powerdict['cfd_id'].replace('', np.nan)

    return df_powerdict, missing_sett

In [35]:
df_powerdict, missing_sett = add_cfds(df_powerdict, sett_to_cfd_id)

df_powerdict.loc[~df_powerdict['cfd_id'].isnull()].head(3)

,osuked_id,gppd_idnr,esail_id,name,sett_bmu_id,ngc_bmu_id,4c_offshore_id,windpowernet_id,wikidata_id,wikipedia_id,power_technology_id,eutl_id,cfd_id
4,10004,"GBR0000174, GBR1000112",DRAXX,Drax,"T_DRAXX-1, T_DRAXX-2, T_DRAXX-3, T_DRAXX-4, T_...","DRAXX-1, DRAXX-2, DRAXX-3, DRAXX-4, DRAXX-5, D...",NaN,NaN,NaN,NaN,NaN,96842,INV-DRX-001
10,10010,NaN,LYNE,Lynemouth Generator,"E_LYNE1, E_LYNE2, E_LYNE3","LNMTH-1, LNMTH-2, LNMTH-3",NaN,NaN,NaN,NaN,NaN,96827,INV-LYN-001
143,10170,GBR0002539,BRBEO,Burbo Bank Wind Farm Extension,T_BRBEO-1,BRBEO-1,NaN,NaN,NaN,NaN,NaN,NaN,INV-BUR-001

In [23]:
len(missing_sett)/len(sett_to_cfd_id)

0.4642857142857143

In [36]:
missing_sett

['C__AAXPO002',
 'C__ALOND002',
 'C__AOXPO009',
 'C__ASTAT009',
 'C__DAXPO001',
 'C__DEDGE014',
 'C__DNATP014',
 'C__DSMAR010',
 'C__DSPOW010',
 'C__FMAGN003',
 'C__FNATP012',
 'C__JVETS001',
 'C__KEDGE004',
 'C__KNATP004',
 'C__MRWED005',
 'C__NMAGN007',
 'C__NVETS013',
 'C__PIMPO008',
 'C__PPURE011',
 'C__PSTAT011',
 'E_SWBKW-1',
 'E__MDRX001',
 'E__MDRX002',
 'T_BEATD-1',
 'T_DDGND-1',
 'T_TSREP-1']

In [ ]:
# can find the missing wind farm sites here - https://www.bmreports.com/bmrs/sites/default/files//PowerParkModules.xlsx