# Matching EIC Codes

<br>

### Imports

In [1]:
import pandas as pd
import numpy as np

from ElexonDataPortal.api import Client

In [2]:
client = Client()

client

In [3]:
df_B1420 = client.get_B1420().drop_duplicates()

df_B1420.shape

B1420: 100%|█████████████████████████████████████████████████████████████████████████████| 3/3 [00:05<00:00,  1.70s/it]

(1037, 16)

In [4]:
ngc_to_eic_id = df_B1420.set_index('nGCBMUnitID')['registeredResourceEICCode'].to_dict()

len(ngc_to_eic_id)

816

In [5]:
powerdict_fp = 'C:/Users/Ayrto/Desktop/Side Projects/Power-Station-Dictionary/data/dictionary/ids.csv'

df_powerdict = pd.read_csv(powerdict_fp)

df_powerdict.head(3)

,osuked_id,gppd_idnr,esail_id,name,sett_bmu_id,ngc_bmu_id,4c_offshore_id,windpowernet_id,wikidata_id,wikipedia_id,power_technology_id,eutl_id
0,10000,NaN,MARK,Rothes Bio-Plant CHP,"E_MARK-1, E_MARK-2","MARK-1, MARK-2",NaN,NaN,NaN,NaN,NaN,NaN
1,10001,"GBR1000377, GBR1000369",DIDC,Didcot,"T_DIDC1, T_DIDC2, T_DIDC4, T_DIDC3, T_DIDC1G, ...","DIDC1, DIDC2, DIDC4, DIDC3, DIDC1G, DIDC2G, DI...",NaN,NaN,NaN,NaN,NaN,97165
2,10002,"GBR1000374, GBR1000375",ABTH,Aberthaw B,"T_ABTH7, T_ABTH8, T_ABTH9, T_ABTH7G, T_ABTH8G,...","ABTH7, ABTH8, ABTH9, ABTH7G, ABTH8G, ABTH9G",NaN,NaN,NaN,NaN,NaN,97175

In [6]:
#exports
def add_eic_ids(df_powerdict, ngc_to_eic_id):
    matched_ngcs = []
    df_powerdict['eic_id'] = np.nan

    for idx, ngc_bmu_ids in df_powerdict['ngc_bmu_id'].dropna().items():
        ngc_bmu_ids = ngc_bmu_ids.split(', ')
        site_eic_ids = []

        for ngc_bmu_id in ngc_bmu_ids:
            if ngc_bmu_id in ngc_to_eic_id.keys():
                matched_ngcs += [ngc_bmu_id]
                site_eic_ids += [ngc_to_eic_id[ngc_bmu_id]]

        df_powerdict.loc[idx, 'eic_id'] = ', '.join(site_eic_ids)
        
    missing_ngcs = sorted(list(set(ngc_to_eic_id.keys()) - set(matched_ngcs)))

    return df_powerdict, missing_ngcs

In [7]:
df_powerdict, missing_ngcs = add_eic_ids(df_powerdict, ngc_to_eic_id)

df_powerdict.head(3)

,osuked_id,gppd_idnr,esail_id,name,sett_bmu_id,ngc_bmu_id,4c_offshore_id,windpowernet_id,wikidata_id,wikipedia_id,power_technology_id,eutl_id,eic_id
0,10000,NaN,MARK,Rothes Bio-Plant CHP,"E_MARK-1, E_MARK-2","MARK-1, MARK-2",NaN,NaN,NaN,NaN,NaN,NaN,48W000000MARK-1D
1,10001,"GBR1000377, GBR1000369",DIDC,Didcot,"T_DIDC1, T_DIDC2, T_DIDC4, T_DIDC3, T_DIDC1G, ...","DIDC1, DIDC2, DIDC4, DIDC3, DIDC1G, DIDC2G, DI...",NaN,NaN,NaN,NaN,NaN,97165,"48W00000DIDC01G1, 48W00000DIDC02GZ, 48W00000DI..."
2,10002,"GBR1000374, GBR1000375",ABTH,Aberthaw B,"T_ABTH7, T_ABTH8, T_ABTH9, T_ABTH7G, T_ABTH8G,...","ABTH7, ABTH8, ABTH9, ABTH7G, ABTH8G, ABTH9G",NaN,NaN,NaN,NaN,NaN,97175,"48W0000000ABTH7Y, 48W0000000ABTH8W, 48W0000000..."

In [8]:
len(missing_ngcs)/len(ngc_to_eic_id.keys())

0.5894607843137255

In [10]:
save_data = False

if save_data == True:
    df_powerdict.to_csv(powerdict_fp, index=False)